header{
    padding-top: 15px;
    text-align: center;
    background-color: azure;
    height: 80px;
}

.addbutton{
    background-color:rgb(185, 200, 228);
}

.fa-plus-square{
    border: none;
    background-color: rgb(185, 200, 228);
}
button:hover{
    color:blue;
}

.cities.container{
    padding-top: 5px;
}

.citiesSelect{
    padding-top: 30px;
    padding-left: 10px;
}

.hotelcontainer{
    padding-top: 50px;
    width: 100px;
}
.hotelhead{
    width: 150px;
    display: flex;
}

.fa-map-marker-alt{
    border: none;
    background-color: none;
}

img{
    width: 100px;
    height: 100px;
}